strict-ssl=false
registry=http://192.168.111.23:8081/repository/npm-all/
ca=null
_auth=YWRtaW46M0tsZXMxMjMh
192.168.111.23:8081/repository/npm-all/:_authToken=NpmToken.7e6bc66b-f437-3c8f-aeda-f35c4d5adca6
